:root {
    --black: black;
    --white: white;
    --red: #df2020;
    --orange: #FF8D5C;
    --yellow: #ffc174;

    --blue: #0C97FF;
    --blue-light: #dfebf1;
    --blue-dark: #0d5cb6;

    --green: #2df3aa;
    --green-dark: #25b580;
    --purple: #e574ff;
    --pink: #fa7daf;
    --beige: #c9ba9b;
    --brown: #54333A;
}

[data-theme="dark"] {
    --black: white;
    --white: black;
    
    --blue: #0C97FF;
    --blue-light: #dfebf1;
    --blue-dark: #FF8D5C;
}