:root {
    --black: black;
    --black-blue: #161D27;

    --white: white;
    --white-gray: #F0F8FF;
    
    --red: #df2020;
    --orange: #FF8D5C;
    --yellow: #ffc174;

    --blue: #0C97FF;
    --blue-light: #dfebf1;
    --blue-dark: #0d5cb6;
    --blue-black: #09203f;
    --blue-db: #2d5d80;

    --green: #2df3aa;
    --green-dark: #25b580;
    --purple: #e574ff;
    --pink: #fa7daf;
    --beige: #c9ba9b;
    --brown: #54333A;

    --body-one: #5CA0F2;
    --body-two: #F5F7F6;
}

[data-theme="dark"] {
    --black: white;
    --white: black;
    
    --blue: #0C97FF;
    --blue-light: var(--black-blue);
    --blue-dark: var(--yellow);

    --body-one: #537895;
    --body-two: #09203f;
}