:root {
    --black: black;
    --black-blue: #161D27;

    --white: white;
    --white-gray: #F0F8FF;
    --light: #999;
    
    --red: #df2020;
    --orange: rgb(255, 141, 92);
    --orange-dark: #5e4338;
    --yellow: #ffc174;

    --blue: #00aeff;
    --blue-black: #1f232e;
    --blue-dark: #313743;

    --primary: var(--blue);
    --primary-body: var(--white-gray);
    --primary-body-2: var(--white);
    --color: light;
}

[data-theme="dark"] {
    --black: white;
    --white: black;
    
    --primary: var(--orange);
    --primary-dark: var(--orange-dark);
    --primary-body: var(--blue-black);
    --primary-body-2: var(--blue-dark);

    --body-one: #537895;
    --body-two: #09203f;
    --color: dark; 
}