#home-section {
    padding: 5rem 0;
    text-align: center;
    height: calc(100vh - 85.2px);
    width: 100%;
}

.home-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 5rem;
    padding-bottom: 3rem;
}

.home-pos {
    color: var(--primary);
}

.home-btn {
    background-image: linear-gradient(to bottom right,var(--primary), var(--yellow));
    color: white;
    padding: 1rem 2rem;
    border-radius: 100px;
    font-weight: bold;
}