#skill-section {
    color: var(--black);
    padding: 4rem 1rem;
}

.skill-title {
    font-size: 2.5rem;
    padding-bottom: 4rem;
    color: var(--primary);
    font-weight: bold;
    text-align: center;
}

.skill-title span {
    color: var(--black);
}

.skill-item {
    width: calc(100% / 10);
    filter: grayscale();
}

.skill-item:hover {
    filter: none;
    transform: scale(1.2);
}