* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* transition: all 0.15s ease; */
}

body {
    /* font-family: 'Poppins', sans-serif; */
    background-color: var(--body-one);
    background-image: linear-gradient(315deg, var(--body-one) 0%, var(--body-two) 74%);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* -------------------- Header -------------------- */
.header-section {
    position: fixed;
    width: 100%;
}
.inner__header {
    background-color: var(--blue-light) !important;
    /* height: 70px; */
}

.header__logo {
    font-weight: bold;
    font-size: 1.8rem;
    color: var(--blue-dark);
}

.header__logo:hover {
    color: var(--blue-dark);
}

.header__logo span {
    color: var(--black);
}

.header__menu {
    flex-grow: unset;
}

.header__menu .header__item {
    padding: 0 0.5rem;
}

.header__menu .header__item .header__link {
    color: var(--black);
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
}

.header__menu .header__item .header__link:hover {
    color: var(--blue-dark);
}

/* -------------------- Content -------------------- */
.content {
    padding-top: 70px;
    height: 200vh;
}

.section {
    margin-top: 5rem;
}

.section-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--blue-dark);
    text-align: center;
}
